aside fieldset{
    margin: 10px;
    margin-bottom: 50px;
    min-height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    border: 1px dotted rgb(255, 255, 255);
}
aside legend{
    font-variant: small-caps;
    font-weight: bolder;
    color: rgb(2, 114, 242);
    text-shadow: 1px 1px 1px rgb(77, 73, 73);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

fieldset.tin .dong .text{
    text-decoration: none;
    text-align: justify;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small; 
    font-variant: small-caps;
}
fieldset.tin .dong img{
    height: 50px;
    margin-right: 10px;
}
fieldset.tin .dong{
    background-color: aliceblue;
    padding: 5px;
    margin-top: 10px;
    box-shadow: 1px 1px 3px gray;
    min-height: 50px;
}
fieldset.tin .dong .text:hover{
    color: rgb(39, 39, 222);
    text-decoration: underline;
}
fieldset.tin .dong:hover{
    background-color: rgb(191, 228, 254);
}
.fb-page{
    margin-top: 10px;
}
.trongko{
    width: 60px;
    height: 80px;
}
