.home{
    width: 25%;
    float: left;
}
.sp{
    border-radius: 10px;
    box-shadow: 0px 0px 5px gray;
    padding: 10px;
    margin: 5px;
    text-align: center;
}
.sp .ten{
    font-size: large;
    font-variant: small-caps;
    color: blue;
}
.sp img{
    max-width: 95%;
}
.sp .gia{
    color: red;
    font-weight: bold;
    font-size: larger;
}
.sp .gia del{
    color: gray;
}
.sp:hover{
    box-shadow: 0px 0px 10px rgb(158, 198, 255);
}
.home:hover{
    text-shadow: 1px 1px 1px rgb(138, 134, 134);
}