table tr{
    height: 30px;
}
#h1{
    margin-bottom: 0px;
}
table{
    width: 100%;
    margin-bottom: 30px;
    /* border: 1px solid black; */
    border-collapse: separate;
    border: 1px dotted rgb(12, 12, 12);
    background-color: rgb(8, 211, 211);
}
th{
    text-align: left;
    background-color: rgb(117, 184, 226);
}
.de{
    text-align: center;
    background-color: rgb(21, 154, 236);
    line-height: 30px;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    color: rgb(203, 228, 250);
}
td{
    background-color: rgb(209, 237, 237);
}
table *{
    padding: 5px;
}
body{
    padding: 20px;
    padding-top: 0px;
}
.a{
    width: 100%;
    /* background-color: aqua; */
    text-align: center;
}
a{
    position: absolute;
    top: 25px;
    right: 30px;
    padding: 10px;
    width: 220px;
    color: rgb(2, 124, 255);
    text-align: center;
    font-size: small;
    text-decoration: none;
    background-color: rgba(246, 251, 255, 0.144);
    border-radius: 20px;
}
a:hover{
    background-color: rgb(210, 245, 255);
    color: rgb(6, 6, 6);
    box-shadow: 0 0 10px rgb(240, 242, 255);
}
