form{
    /* background-color: aqua; */
    margin: 10px 0px 0 300px;
}
body{
    background-color: rgba(238, 248, 255, 0.741);
}
label{
    color: rgb(0, 94, 255);
    font-size: large;
    font-weight: bold;
}

input.in{
    width: 70%;
    height: 40px;
    border: 0;
    border-radius: 20px;
    box-shadow: 1px 2px 7px rgb(150, 150, 150);
    padding-left: 15px;
}
input{
    margin-top: 10px;
    margin-bottom: 20px;
}
.nho{
    font-size: medium;
    height: 11px;
    padding-right: 60px;
    letter-spacing: 1px;
}

h2{
    margin: 50px 0 50px 200px;
    font-size: xx-large;
    color: rgb(25, 27, 28);
}
input.login{
    background-color: aliceblue;
    border: 0;
    width: 72%;
    height: 40px;
    border-radius: 40px;
    color: white;
    background-color: rgb(45, 162, 54);
    line-height: 40px;
    letter-spacing: 1px;
}
a{
    text-decoration: none;
    color: rgb(255, 64, 0);
    letter-spacing: 0;
}
a:hover{
    color: rgb(110, 28, 105);
    text-decoration: underline;
}
input.login:hover{
    background-color: rgb(34, 123, 41);
}
hr{
    width: 72%;
    margin-left: 0px;
}