body{
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    position: relative;
}

.kyc{
    width: 100%;
    height: 30px;
    background-color: rgb(0, 132, 255);
    margin: 0;
    /* position: fixed; */
}
header{
    background: url(../webcon/imgxe/bannertest.png) no-repeat right 0 ;
    margin: 0 auto;
    /* width: 100%; */
    height: 235px;
    background-size: 100% 100%;
    background-color:  rgba(55, 148, 236, 0.595);
    /* position: relative; */
}
footer{
    width: 100%;
    background-color: rgb(9, 158, 244);
    height: 150px;
    position: relative;
    bottom: 0;
}
.trong{
    
    width: 100%;
    min-height: 1800px;
    margin: 0 auto;
    position: relative;
    /* box-shadow:  0 2px 1px gray; */
    border-radius: 15px 15px 0 0;
}
div.menu1{
    width: 100%;
    height: 200px;
    margin: auto;
    position: relative;
}
nav.menu{
    background-color:  rgb(0, 132, 255);
    width: 100%;
    height: 40px;
    margin: 0;
    box-shadow:  0 -1px 3px rgb(0, 0, 0);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    /* border-radius: 10px 10px 0 0; */
}
/* nav.search{
    background-color: rgb(213, 235, 253);
    width: 100%;
    height: 40px;
    top: 0px;
    margin: 0;
    box-shadow: 0 0px 1px gray;
} */
aside{
    background-color: white;
    width: 20%;
    min-height: 1000px; 
    /* padding: 5px; */
    margin: 0;
    float: right;
    /* background-color: rgb(32, 78, 118); */
    /* box-shadow: inset 0px 1px 5px gray; */
}
article{
    /* background-color: wheat; */
    width: 80%;
    min-height: 1000px;
    float: left;
    margin: 0;
    /* padding: 5px; */
   
}
/* article .trai{
    width: 26.3%;
    background-color: aliceblue;
    min-height: 1800px;
    float: left;
    
} */
article .phai{
    width: 100%;
    /* float: right; */
    min-height: 1000px;
    box-shadow: inset 0px -1px 5px gray;
}
iframe[name="page"]{
    width: 100%;
    min-height: 1800px;
    display: table;
}
#top-up {
    font-size: 3rem;
    cursor: pointer;
    position: fixed;
    z-index: 9999;
    color:#004993;
    bottom: 30px;
    right: 25px;
    display: none;
}
#top-up:hover {
    color: #351eff
}
aside{
    text-align: center;
    padding-top: 10px;
}
iframe[name="vid"]{
    width: 90%;
    margin-top: 20px;
}
aside h3{
    margin-left: 15px;
    margin-bottom: 0px;
}
footer ul{
    margin-left: 100px;
}