body{
    padding: 0 30px;
    margin: 0;
    background-color: rgb(221, 228, 232);
    font-family: Arial, Helvetica, sans-serif;
}
.slide{
    width: 100%;
    height: 300px;
    background-color: rgb(161, 216, 243);
    margin: 30px 0;
    text-align: center;
    position: relative;
    background: url(../webcon/imgxe/banner.jpg);
    background-size: 100% 100%;

    color: blue;
    text-shadow: 0 0 10px rgb(228, 231, 255);
    font-weight: bolder;
    font-size: larger;
}
.traiphai{
    /* position: absolute; */
    width: 25px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.19);
    padding: 15px 5px;
    /* margin: auto; */
}
.traiphai:hover{
    background-color: rgba(156, 152, 152, 0.616);
}
#trai{
    position: absolute;
    left: 0px;
    top: 110px;
}
#phai{
    position: absolute;
    right: 0px;
    top: 110px;
}
.khung{
    width: 100%;
    min-height: 50px;
    /* background-color: rgb(176, 22, 22); */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.134); */
    clear: both;
}
.khung .tieude{
    margin-top: 10px;
    width: 99%;
    height: 45px;
    background-color: white; 
    box-shadow: 0 0 5px rgba(158, 158, 158, 0.134);
    margin: 1px; 
    /* padding: 15px; */
    color: rgb(120, 120, 120);
    line-height: 30px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: large;
    font-weight: bold;
}
.khung .o a{
    width: 16.493%;
    height: 180px;
    background-color: white; 
    box-shadow: 0 0 5px rgba(212, 212, 212, 0.06);
    margin: 1px;
    float: left;
    display: block;
    text-decoration: none;
}
.khung .o img{
    width: 80%;
    height: 115px;
    /* background-color: aqua; */
    margin: 20px 20px 10px 20px;
    border-radius: 10px;
}
.khung .o .text{
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

.khung .olon{
    width: 33.13%;
    height: 442px;
    background-color: white; 
    box-shadow: 0 0 5px rgba(212, 212, 212, 0.06);
    margin: 1px;
    float: left;
    background: url(../webcon/xehoi/banner1.png) no-repeat center center;
    background-size: 97% 97%;
}
.khung .onho a{
    width: 16.49%;
    height: 220px;
    background-color: white; 
    box-shadow: 0 0 5px rgba(212, 212, 212, 0.06);
    margin: 1px;
    float: left;
    text-decoration: none;
    color: black;
}
.olon{
    position: relative;
}
.traiphai1{
    width: 25px;
    height: 30px;
    background-color: rgba(187, 187, 187, 0.348);
    padding: 15px 5px;
}
#trai1{
    position: absolute;
    left: 5px;
    top: 180px;
}
#phai1{
    position: absolute;
    right: 5px;
    top: 180px;
}
.traiphai1:hover{
    background-color: rgba(156, 152, 152, 0.616);
}
.onho img{
    margin: 10px;
    width: 90%;
    height: 120px;
    border: 1px solid rgba(0, 0, 0, 0.292);
}
.onho .ghichu{
    width: 100%;
    height: 53px;
    /* background-color: rgb(32, 113, 140); */
}
.onho .ghichu .text{
    text-align: center;
    /* margin-left: 11px; */
    font-weight: bold;
}
.onho .i{
    background-color: rgb(252, 107, 54);
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: smaller;
    line-height: 20px;
    font-weight: bold;
}