.img{
    width: 100%;
    text-align: center;
    /* background-color: rgba(131, 226, 245, 0.24); */
    /* box-shadow: 0 0 17px inset rgba(139, 166, 194, 0.2); */
    margin: 10px 0px 10px 0;
}
img{
    width: 100%;
    margin: 0px;
    padding: 0;
}
.ghichu{
    text-align: center;
    color: rgb(114, 114, 114);
    /* background-color: rgba(135, 137, 137, 0.114); */
}
body{
    padding: 10px 100px;
    text-align: justify;
    background-color: rgba(228, 243, 255, 0.166);
}
h3{
    text-align: center;
}
.text{
    color: rgb(38, 40, 44);
    line-height: 25px;
}
fieldset{
    background-color: rgb(19, 106, 238);
    font-weight: bold;
    color: aliceblue;
    border: 0;
    border-radius: 10px;
    margin-top: 20px;
}
input{
    width: 70%;
}
legend{
    color: black;
    background-color: rgb(185, 187, 189);
    margin-left:-16px;
}
button{
    margin: 20px 0;
    width: 70px;
    /* line-height: 25px; */
    border-radius: 5px;
    border: 0;
}
button:hover{
    background-color: aliceblue;
}